{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "brace-style": [
      "error",
      "stroustrup"
    ],
    "no-unused-vars": [
      "warn"
    ],
    "no-var": [
      "off"
    ],
    "one-var": [
      "off"
    ]
  }
}
