.marketplace {
  padding-top: 48px;
  padding-bottom: 80px;
  box-sizing: border-box;
  background-image: url(@/assets/img/marketplace/doodle.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  .title-marketplace {
    margin-bottom: 50px;
  }
}
