.modal {
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    border: none;

    button {
      border: none;
      background: none;
      cursor: pointer;
    }

    .modal-header {
      padding: 0;
      text-align: center;
      background-color: $grey-noku;

      .header-row {
        width: 100%;
        margin: 0;
      }

      .header-img {
        margin: 24px auto;
        max-width: 100%;
      }

      .modal-close {
        float: right;

        .cross {
          margin-top: 20px;
          width: 12px;
        }
      }
    }

    .modal-body {
      .modal-title {
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.15px;
        color: $black-noku;
        margin-bottom: 8px;
        margin-top: 0;
      }

      .amenties {
        text-transform: capitalize;
        display: block;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.25px;
        color: $black-noku;
      }

      .expiration {
        margin: 8px 0 24px 23px;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: $red-noku;

        &.sell {
          margin-bottom: 16px;
        }

        .clock {
          margin-top: 1px;
          margin-left: -23px;
          position: absolute;
          width: 15px;
          max-width: 100%;
        }
      }

      .current-balance {
        margin-top: 8px;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.4px;

        &.right {
          text-align: right;

          @media only screen and (max-width: 575px) {
            text-align: left;
          }
        }
      }
    }

    .modal-footer {
      background-color: $blu-noku;
      padding: 0;

      .footer-row {
        width: 100%;
        margin: 0;
      }

      .cancel-btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $white-noku;
      }

      .main-btn {
        text-transform: capitalize;
        margin: 10px 0;
        padding: 12px 20px;
        float: right;
        background: #2224C3;
        color: $white-noku;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  &.fade {
    transition: opacity .12s linear;
  }

  &.fade:not(.show) {
    opacity: 0;
  }
}
