$border-noku-color: #F2F2F2;
$blu-noku: #4446ED;
$pink-noku: #9616E5;
$header-link: #4A4A4A;
$tab-header-title: #ECEDFD;
$slider-gradient-a: rgba(42, 3, 67, 0);
$slider-gradient-b: #2A0343;
$noku-sub-header-gradient: linear-gradient(270deg, $blu-noku 0%, $pink-noku 100%);
$slider-linear-gradient: linear-gradient(80.63deg, $slider-gradient-a 50.17%, $slider-gradient-b 92.92%);
