$border-noku-color: #F2F2F2;
$blu-noku: #4446ED;
$pink-noku: #9616E5;
$header-link: #4A4A4A;
$tab-header-title: #ECEDFD;
$noku-sub-header-gradient: linear-gradient(270deg, $blu-noku 0%, $pink-noku 100%);
