.sub-header {
  background: $noku-sub-header-gradient;
  box-sizing: border-box;

  .tab-headers-container {
    padding: 23px 0;
    text-align: center;

    .tab-header {
      cursor: pointer;
      display: inline-block;

      &:not(:first-child) {
        margin-left: 32px;
      }

      .tab-header-name {
        color: $tab-header-title;
        opacity: 0.7;
        font-size: 17px;

        &.active {
          opacity: 1;
        }
      }
    }
  }
}
